@model IEnumerable<WMATC.Models.Matchup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Player 1
        </th>
        <th>
            Player 2
        </th>
        <th>
            Winner
        </th>
        <th>
            Player 1 List
        </th>
        <th>
            Player 2 List
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player1List)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2List)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchupId })
        </td>
    </tr>
}

</table>
