@model IEnumerable<WMATC.Models.RoundTeamMatchup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Round.Scenario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableZone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoundTeamMatchupViewModel.Round )
        </td>
        <td>
            @Html.ActionLink(item.RoundTeamMatchupViewModel.Matchup, "Index", "Matchups", new { id = item.RoundTeamMatchupId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableZone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoundTeamMatchupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoundTeamMatchupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoundTeamMatchupId })
        </td>
    </tr>
}

</table>
