@model IEnumerable<WMATC.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faction.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caster1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caster2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Faction.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caster1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.List1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caster2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.List2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerId })
        </td>
    </tr>
}

</table>
