@model WMATC.ViewModels.PublishViewModel

<div>
        @Html.DisplayNameFor(model => model.RoundsURL): <a href="@Model.RoundsURL">@Html.DisplayFor(model => model.RoundsURL)</a><br />
        @Html.DisplayNameFor(model => model.StandingsURL): <a href="@Model.StandingsURL">@Html.DisplayFor(model => model.StandingsURL)</a><br />
        @Html.DisplayNameFor(model => model.TeamBrowser): <a href="@Model.TeamBrowser">@Html.DisplayFor(model => model.TeamBrowser)</a>
</div>

