@model WMATC.Models.Round

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scenario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scenario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoundId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
